{% extends 'base.html' %}

{% block content %}
    <h1>Notebook</h1>
    <a href="{{ url_for('new_contact') }}">New Note</a>

    <h4>{{ contacts|length }} contacts:</h4>
    {% for contact in contacts %}
        <div class="contact">
            <p>{{ contact.name }}</p>
            <p>{{ contact.phone_number }}</p>
            <a class='btn' href="{{ url_for('edit_contact', name=contact.name) }}">Edit</a>
            <form method="post" action="{{ url_for('delete_contact', name=contact.name) }}">
                {{ form.csrf_token }}
                {{ form.submit(class='btn') }}
            </form>
        </div>
    {% endfor %}
{% endblock %}
